@keyframes title-in {
  0% {
    opacity: 0;
    transform: translateY(8.125rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes effects-system-up {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
