.hero {
  position: relative;
}
/* EARTHRISE HERO BG */
.hero__bg {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32rem;
  background: var(--off-black) url('../media/ei/earthrise-hero-bg.png')
    no-repeat 70% 1rem;
  background-size: cover;
}

/* WHITE NAV DOWN ARROW */
.hero__nav-arrow {
  margin-left: 0.5rem;
}

/* MISSION */
.hero__mission {
  background-color: var(--off-black);
  height: 38rem;
  margin: auto;
  padding: 2rem;
  position: relative;
}

.mission__statement {
  will-change: transform, opacity;
  font-family: var(--heading-font);
  color: var(--pure-white);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: auto;
  /* margin-bottom: 5rem; */
  opacity: 0;
  /* animation-delay: 0.5; */
  /* animation: 1s cubic-bezier(0.26, 1, 0.48, 1) 1.5s 1 normal forwards title-in; */
}

.mission__title,
.mission__text {
  font-family: var(--body-font);
  color: var(--pure-white);
}

.mission__title {
  will-change: transform, opacity;
  display: block;
  font-family: var(--heading-font);
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  opacity: 0;
  transform: translateY(10rem);
}

.mission__text {
  will-change: transform, opacity;
  display: block;
  font-size: 14px;
  line-height: 1.5rem;
  opacity: 0;
  transform: translateY(10rem);
}

.slide-in--up {
  animation-name: effects-system-up;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-timing-function: var(--slide-up);
  animation-fill-mode: forwards;
  animation-direction: normal;
}
