.projects {
  position: relative;
  /* padding: 0 1.5rem; */
  margin-bottom: 120px;
}

.project-grid__grid {
  --grid-side: 24px;
  width: calc(100% - 48px);
  margin: 0 auto;
  display: block;
}

@media (min-width: 768px) {
  .project-grid__grid {
    width: calc(100% - (32px * 2));
    max-width: 1368px;
  }
}

@media (min-width: 1024px) {
  .project-grid__grid {
    display: grid;
    grid-gap: 52px;
    grid-template-columns: 1fr 1fr;
    width: calc(100% - (80px * 2));
    max-width: 1272px;
    margin-top: 3rem;
  }
}

.project-grid__grid-item-container {
  position: relative;
  height: 35rem;
}

.project-grid__grid__item,
.project-grid__grid__item--header {
  display: block;
  position: relative;
  border: 2px solid transparent;
  transition: 0.5s border var(--border-fade-in);
  height: 100%;
}

.project-grid__grid__item__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .project-grid__grid__item__inner {
    display: block;
    margin-bottom: 0;
  }
}

.project-grid__header {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  margin-top: 2rem;
}

.project-grid__header__title {
  font-family: var(--heading-font);
  font-feature-settings: var(--liga-setting);
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
}

@media (min-width: 460px) {
  .project-grid__header__title {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 768px) {
  .project-grid__header__title {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}

.project-grid__header__body {
  font-family: var(--body-font);
  font-feature-settings: var(--liga-setting);
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  transform: translateY(120%);
  opacity: 0;
  animation: effects-system-up 0.5s var(--slide-up) 1s forwards normal;
}

@media (min-width: 460px) {
  .project-grid__header__body {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.project-grid__content {
  padding: 2rem 0;
  position: relative;
  width: 100%;
  height: 100%;
  order: 2;
}

@media (min-width: 1024px) {
  .project-grid__content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 48px);
    height: calc(100% - 24px - 20px);
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    color: #0f0f0f;
  }
}

.project-grid__content__headline {
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-top: 0;
  font-family: var(--heading-font);
  font-feature-settings: var(--liga-setting);
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: normal;
}

@media (min-width: 460px) {
  .project-grid__content__headline {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.project-grid__content__title {
  font-family: var(--heading-font);
  font-feature-settings: var(--liga-setting);
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 2rem;
}

@media (min-width: 460px) {
  .project-grid__content__title {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .project-grid__content__title {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.project-grid__content__body {
  margin-top: 1rem;
  font-family: var(--body-font);
  font-feature-settings: var(--liga-setting);
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.project-grid__content__cta {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--orange);
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: var(--heading-font);
  font-feature-settings: var(--liga-setting);
}

/* PROJECT IMAGE */
.project-grid__image {
  height: 100%;
  /* empty */
}

.image-parallaxer {
  height: 100%;
  overflow: hidden;
}

.image-parallaxer__inner {
  transform: translateY(var(--image-y)) scale(var(--image-scale));
  will-change: transform;
  height: 100%;
}

.image-background-image-sizer {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

/* .image-background-image-sizer:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 100%;
} */

#image__khan-academy {
  background-image: url('../media/projects/khan-academy-logo.svg');
}

.image {
  transform: translateY(110%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 12rem;
  height: 100%;
}

.image-slide-in--up {
  animation-name: image-up;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-timing-function: var(--slide-up);
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
