.projects {
  position: relative;
  padding: 0 1.5rem;
}

.project-grid__grid-item-container {
  position: relative;
}

.project-grid__grid__item,
.project-grid__grid__item--header {
  display: block;
  position: relative;
  border: 2px solid transparent;
  transition: 0.5s border var(--border-fade-in);
}

.project-grid__grid__item__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 4rem;
  overflow: hidden;
  height: 100%;
  text-decoration: none;
}

.project-grid__header {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  margin-top: 2rem;
}

.project-grid__header__title {
  font-family: var(--heading-font);
  font-feature-settings: var(--liga-setting);
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
}

.project-grid__header__body {
  font-family: var(--body-font);
  font-feature-settings: var(--liga-setting);
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  transform: translateY(120%);
  opacity: 0;
  animation: effects-system-up 0.5s var(--slide-up) 1s forwards normal;
}

.project-grid__content {
  padding: 2rem 0;
  position: relative;
  width: 100%;
  order: 2;
}

.project-grid__content__headline {
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-top: 0;
  font-family: var(--heading-font);
  font-feature-settings: var(--liga-setting);
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: normal;
}

.project-grid__content__title {
  font-family: var(--heading-font);
  font-feature-settings: var(--liga-setting);
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 2rem;
}

.project-grid__content__body {
  margin-top: 1rem;
  font-family: var(--body-font);
  font-feature-settings: var(--liga-setting);
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.project-grid__content__cta {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--orange);
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: var(--heading-font);
  font-feature-settings: var(--liga-setting);
}

.project-grid__image__parallaxer {
  overflow: hidden;
}

.project-grid__image__image {
  transform: translateY(110%);
}

.image-slide-in--up {
  animation-name: image-up;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-timing-function: var(--slide-up);
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
