@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* VARIABLES */
:root {
  /* fonts */
  --heading-font: 'Roboto Mono', monospace;
  --body-font: 'Roboto', sans-serif;

  /* colors */
  /* --off-black: #1f1f1f; */
  --off-black: #0f0f0f;
  --off-white: #eef2f1;
  --pure-white: #fff;
  --turqoise: #2cdec0;
  /* --orange: #fb6520; */
  --orange: #ffb300;

  /* animation timing functions */
  --slide-up: cubic-bezier(0.26, 1, 0.48, 1);
}
